doctype html
html
    head
        title Express.js + Pug Demo
    body
        h1 Hi There!
        for task in data
            h2=task.task
            p
                span status;
                span=task.status
            hr